* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 4px 10px;
  font-size: 1.2rem;
  background-color: orange;
  color: white;
  cursor: pointer;
}

form {
  margin-bottom: 20px;
}
